################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XamExecuteAndWait/bin/Release
/XamExecuteAndWait/obj
/XamExecuteAndWait/bin/Debug
/Sample/Sample/obj
/Sample/Sample.Android/obj
/Sample/Sample.iOS/obj
/Sample/Sample/bin/Debug/netstandard2.0
/Sample/Sample/bin/Release/netstandard2.0
/Sample/Sample.Android/bin
